.bg-body-color { background-color: #090f21; }
.bg-base-color { background-color: #27535C; }
.bg-sec-color { background-color: #297a8b; }
.bg-accent-color { background-color: #F4F5D7; }
.text-base-color { color: #031927; }
.text-sec-color { color: #FDFDE1; }

.rules .card-title, .rules .card-body { max-width: 800px; font-family: Courier; }
.text-small { font-size: small !important; }

.underlined { text-decoration: underline }
a.b-link:hover  { color: #27535C !important; background: #e6b319; padding: 3px; }
.narrative { columns: 3 250px; column-rule: 1px dotted #27535C; font-family: Courier; }
.narrative p { padding: 0 10px 0 10px; text-indent: 10pt; }

body { background-color: #090f21 !important; }